.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  margin-top: 44px;
  & > li {
    width: 44%;
    min-width: 520px;
    @media (max-width: $size-m) {
      & {
        width: 100%;
        min-width: auto;
      }
    }
  }
  & + h3 {
    margin-top: 184px;
  }
}
