@import 'reset';
@import 'layout';

/* font */
@font-face {
  font-family: 'SBAggro';
  src: url('/fonts/SB-Aggro-M.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggro';
  src: url('/fonts/SB-Aggro-L.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggro';
  src: url('/fonts/SB-Aggro-B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  color: $color-black;
  font-family: 'SBAggro', sans-serif;
}

body {
  background-color: $color-white;
  font-weight: 300;
}

.a11yHidden {
  display: inline-block;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute !important;
}
