@import 'reset';
@import 'layout';
@import 'mixins';

body {
  background-color: $color-white;
  color: $color-black;
  font-family: var(--font-pretendard), sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
[class*='title'],
[class*='headline'] {
  font-family: var(--font-aggro), sans-serif;
}

dt {
  font-family: var(--font-aggro), sans-serif;
  font-weight: 300;
  vertical-align: middle;
}

.a11yHidden {
  @include a11yHidden;
}

.point {
  &_red {
    color: $color-red;
  }
  &_green {
    color: $color-green;
  }
  &_yellow {
    color: $color-yellow;
  }
}
