@mixin a11yHidden {
  display: inline-block;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute !important;
}

@mixin ellipsis($line: 1) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($line == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    word-wrap: break-word;
    white-space: normal;
  }
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed($top: null, $right: null, $bottom: null, $left: null) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin rect($size) {
  display: inline-block;
  width: $size;
  height: $size;
}

@mixin list-circle {
  text-indent: -9px;
  padding-left: 16px;
  &::before {
    content: '·';
    margin-right: 4px;
  }
}

@mixin hover-underline($parent: null) {
  position: relative;
  display: inline-block;
  &::after {
    @include absolute(null, 0, 4px, 0);
    display: inline-block;
    width: 0;
    height: 10px;
    background-color: $color-light-red;
    z-index: -1;
    transition: all 0.5s ease;
    content: '';
  }
  @if $parent {
    @at-root .#{$parent}:hover &::after,
      .#{$parent}:focus &::after {
      width: 100%;
    }
  } @else {
    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}

@mixin button {
  display: inline-block;
  padding: 9px 16px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-radius: 20px;
  color: $color-black;
  font-size: $font-s;
  font-family: var(--font-aggro), sans-serif;
  font-weight: 300;
  transition: all 0.5s ease;
  &:hover,
  &:focus {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;
  }
}
