/* color */
$color-red: #c5554d;
$color-green: #14a211;
$color-yellow: #ffe53a;
$color-white: #fff9f9;
$color-black: #373737;
$color-gray: #c3c3c3;
$color-light-red: #fcdedc;
$color-light-gray: #f4f0f0;

/* size */
$size-default: 1200px;

/* font-size */
$font-s: 1rem;
$font-m: 1.25rem;
$font-l: 1.5rem;
$font-xl: 1.75rem;
