/* color */
$color-red: #c5554d;
$color-green: #14a211;
$color-yellow: #ecb921;
$color-white: #fff9f9;
$color-black: #373737;
$color-gray: #c3c3c3;
$color-light-red: #fcdedc;
$color-light-gray: #f4f0f0;
$color-dark-gray: #656464;

/* size */
$size-default: 1200px;
$size-m: 720px;
$size-s: 480px;
$content-size: 676px;

/* font-size */
$font-s: 1rem;
$font-m: 1.25rem;
$font-l: 1.5rem;
$font-xl: 1.75rem;
