$padding-horiz: 40px;

.wrapper {
  width: calc(100% - $padding-horiz * 2);
  max-width: calc($size-default - $padding-horiz * 2);
  height: auto;
  margin: 0 auto;
  padding: 112px $padding-horiz 72px;
}
