@import '../common/LinkButton.module.scss';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

@media (max-width: $size-m) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.button_wrapper {
  margin-top: 40px;
  text-align: center;
}
