@import './Title.module.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.summary {
  color: $color-dark-gray;
  font-size: $font-m;
  font-family: var(--font-aggro), sans-serif;
  font-weight: 300;
  @media (max-width: $size-m) {
    font-size: $font-s;
  }
}

.thumbnail {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 2rem auto 1rem;
  border: 1px solid $color-gray;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.link {
  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 4rem;
  }

  $types: 'github', 'website';
  @each $type in $types {
    &_#{$type} {
      position: relative;
      width: 100%;
      @include button;
      box-sizing: border-box;
      text-align: center;
      &:hover,
      &:focus {
        color: $color-black;
        &::after {
          @include center;
          @include rect(30px);
          background: url('/img/#{$type}.svg') center;
          background-size: contain;
          content: '';
        }
      }
    }
  }
}

.info {
  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 10px;
  width: 100%;
  line-height: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 28px;
    padding-right: 4px;
    border: 1px solid $color-gray;
    border-radius: 6px;
    line-height: 24px;
    box-sizing: border-box;
    & > * {
      padding: 2px;
    }
    img {
      margin-left: -1px;
    }
  }
}

.desc {
  margin-top: 20px;
  line-height: 30px;
  & > h3 {
    padding-top: 20px;
    border-top: 1px dashed $color-gray;
    font-size: $font-s;
    font-weight: 300;
    line-height: 40px;
  }
  &_skills,
  &_features {
    @extend .desc;
    li {
      @include list-circle;
    }
  }
  &_features {
    dt {
      position: relative;
      display: inline-block;
      font-family: var(--font-pretendard);
      font-weight: 500;
      &::after {
        @include absolute(16px, 0, null, 0);
        display: inline-block;
        width: 100%;
        height: 10px;
        background-color: $color-light-red;
        z-index: -1;
        content: '';
      }
    }
    dd {
      @include list-circle;
      & + dt {
        margin-top: 8px;
      }
    }
  }
  &_posts {
    @extend .desc;
    li {
      display: flex;
    }
    a {
      @include hover-underline;
      @include ellipsis;
      white-space: nowrap;
    }
  }
}
