.footer {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid $color-gray;
  background-color: $color-white;
  & > p {
    color: $color-black;
    font-size: $font-xs;
    font-weight: 100;
    text-align: center;
  }
}
