.header {
  @include fixed(0, 0, null, 0);
  @include flex(space-between);
  width: calc(100% - 40px);
  height: 68px;
  margin: 0 20px;
  padding: 16px 4px;
  box-sizing: border-box;
  z-index: 20;
  &_black {
    @extend .header;
    color: $color-white;
  }
  &_white {
    @extend .header;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray;
    color: $color-black;
  }
}

.back {
  position: relative;
  display: inline-block;
  padding: 10px 16px 10px 30px;
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-radius: 20px;
  color: $color-black;
  font-size: 1rem;
  font-family: var(--font-aggro), sans-serif;
  font-weight: 300;
  transition: all 0.5s ease;
  &::before {
    @include absolute(14px, null, null, 14px);
    @include rect(8px);
    border-left: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    transform: rotate(45deg);
    transition: all 0.5s ease;
    content: '';
  }
  &:hover,
  &:focus {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;
    &::before {
      border-color: $color-white;
    }
  }
}

.logo {
  flex-shrink: 0;
  @include rect(40px);
}

.name {
  font-size: $font-m;
  font-family: var(--font-aggro);
  font-weight: 700;
}
