.hashtag {
  display: inline-block;
  padding: 0.6rem 0.6rem 0.4rem;
  background-color: $color-red;
  border-radius: 20px;
  color: $color-white;
  font-family: var(--font-aggro), sans-serif;
  font-size: $font-xl;
  font-weight: 700;
  line-height: $font-xl;
  @media (max-width: $size-m) {
    & {
      font-size: $font-l;
      line-height: $font-l;
    }
  }
}

.headline {
  display: block;
  margin: 2.5rem 0 3.75rem;
  font-size: $font-xl;
  font-weight: 500;
  line-height: 2.5rem;
  word-break: keep-all;
  @media (max-width: $size-m) {
    & {
      font-size: $font-l;
      line-height: 2rem;
    }
  }
}

.subheadline {
  display: block;
  margin-bottom: 3.75rem;
  color: $color-dark-gray;
  font-size: $font-s;
  font-weight: 300;
  line-height: 1.6rem;
  @at-root .headline + & {
    margin-top: -3rem;
  }
}
