$padding-horiz: 40px;

.section {
  width: calc(100% - $padding-horiz * 2);
  max-width: calc($size-default - $padding-horiz * 2);
  height: auto;
  margin: 0 auto;
  padding: 112px $padding-horiz 72px;
}

.hashtag {
  display: inline-block;
  padding: 0.6rem 0.6rem 0.4rem;
  background-color: $color-red;
  border-radius: 20px;
  color: $color-white;
  font-size: $font-xl;
  font-weight: 700;
  line-height: $font-xl;
}

.headline {
  display: block;
  margin: 2.5rem 0 3.75rem;
  font-size: $font-xl;
  font-weight: 500;
  line-height: 2.5rem;
}

.subheadline {
  display: block;
  margin-bottom: 3.75rem;
  font-size: $font-m;
  font-weight: 300;
  line-height: 1.6rem;
  @at-root .headline + & {
    margin-top: -3rem;
  }
}
