.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  img {
    display: inline-block;
    width: 260px;
    height: 260px;
    border-radius: 40px;
  }
}

.info {
  &_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto 160px;
  }
  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: $color-gray;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    i {
      width: 26px;
      height: 40px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      $infos: ('birth', 'location', 'mbti', 'swim', 'volunteer');
      @each $name in $infos {
        &.#{$name} {
          background-image: url('/img/info_#{$name}.svg');
        }
      }
    }
  }
  &_description {
    position: absolute;
    bottom: -60px;
    padding: 0 1.25rem;
    background-color: $color-light-gray;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 3.125rem;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
  }
  &_icon:hover {
    background-color: $color-red;
  }
  &_icon:hover + &_description {
    opacity: 1;
    transform: scale(1);
  }
}

.bubble {
  @mixin bubbles {
    position: absolute;
    display: inline-block;
    margin: 0.625rem;
    padding: 10px;
    background-color: $color-light-gray;
  }
  &_left {
    @include bubbles;
    top: 30px;
    left: 0;
  }
  &_right {
    @include bubbles;
    top: 100px;
    right: 0;
  }
}
