.wrapper {
  @include flex(center, start);
  gap: 60px;
  flex-wrap: wrap;
}

.gallery {
  position: relative;
  img {
    @include rect(260px);
    border-radius: 40px;
  }
  &::after {
    @include absolute(206px, 0);
    display: inline-block;
    width: 90px;
    height: 60px;
    background: url('/img/tree_right.svg') no-repeat;
    background-size: contain;
    content: '';
  }
}

.name {
  margin-top: 30px;
  line-height: 2rem;
  text-align: center;
  .eng {
    font-size: $font-s;
    font-weight: 500;
  }
  .kor {
    font-size: $font-l;
    font-weight: 500;
  }
  .birth {
    font-size: $font-s;
    font-weight: 300;
  }
}
