.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.title {
  display: inline-block;
  margin-bottom: 10px;
  padding: 3px 0 0 10px;
  border-left: 4px solid $color-red;
  color: $color-red;
  font-size: $font-m;
  line-height: $font-m;
  font-weight: 500;
}

.detail {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding-left: 14px;
  line-height: 2rem;
  a {
    transition: 0.3s all ease;
    &:hover {
      background-color: $color-light-red;
    }
  }
}
